<h2 id="title">Hi, I'm Oli</h2>

<img id="profile-pic"/>

<div id="bio">
  <p>
  I'm a Software Engineer @ <a target="_blank" href="https://squareup.com">Square</a>, currently working on the suite of projects that power the Logistics for <a target="_blank" href="https://trycaviar.com">Caviar</a>. I have competency in a variety of languages and frameworks with a particular focus on Java, Ruby, Python and Javascipt.
</p>
<p>
  Besides engineering, I spend as much time as I can hiking and backpacking through California. I also enjoy running, music, reading fiction and independant cinema.
</p>
<p>
  I have a first-class Engineering Masters degree in Computing from <a target="_blank" href="https://www.imperial.ac.uk">Imperial College London</a>. My final year project concerning Motion Stabilisation methods for Robotically Assisted Heart Surgery was awarded the Distinguished Project status. Outside of the department, I enjoyed serving as Technical Manager for <a target="_blank" href="http://www.icradio.com">ICRadio</a>.
</p>
<p>
  I strive to be affable, and endeavour to be forever self-improving.
</p>
</div>
